<a href="https://colab.research.google.com/github/shady126/Assignment-for-Python/blob/main/Lambda_exprission.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Using lambda expression to double each items in list of range 1-50 using List Comprehension
Comp_with_lambda = [(lambda x:x**2) (x) for x in range(50)]
print(Comp_with_lambda)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401]